.body{
  margin: 0;
  font-family: Arial, sans-serif;
}
.div1{
  text-align: left;
  font-size: 16px;
  width: 100%;
  background-color: rgb(155, 5, 155);
}


#div1-style{
    color: white;
    background-color: #00bcd4;
    display: inline-block;
  vertical-align: top;
  width: 44%;
  height: 660px;
  box-sizing: border-box;
  padding: 80px 40px;
  margin-left: 6%;
  margin-top: 6%;
  margin-bottom: 6%;
    
}
#div1-style h1{
     font-size: 45px;
      margin-bottom: 20px;
      box-sizing: border-box;
      margin-left: 30%;
      margin-top: 20%;
}
#div1-style p {
    font-size: 22px ;
    padding: 8px;
    margin-left: 10%;
    margin-right: 10%;
    box-sizing: border-box;
}

#div2-style{
    background-color: white;
    display: inline-block;
  vertical-align: top;
  width: 44%;
  height: 660px;
  box-sizing: border-box;
   padding: 60px 40px;
   margin-right:6% ;
   margin-bottom: 6%;
   margin-top: 6%;
    
}
 #div2-style  h1 {
      margin-bottom: 10px;
      text-align: center;
      display: inline-block;
      box-sizing: border-box;
      margin-left: 36%;
    }
    form input, form textarea {
      width: 90%;
  margin: 20px 0;
  padding: 17px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  background-color: #f5f7fa;
}
form textarea {
      height: 80px;

    }

    form button {
      background-color: #00bcd4;
      color: white;
      border: none;
      padding: 8px 30px;
      border-radius: 20px;
      margin-left:40% ;
      font-size: 16px;
  
    }
