.input-group{
    width: 400px;
   color: gray;
}
.form{
    width: 100px;
    
}
 .hover i:hover{
color: #dc3545;
 }
 .text a:hover {
    color: #dc3545 !important;
    border-color: #dc3545 !important;
 }

 .danger{
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
 }
 .email{
  background-color:inherit ;
 }
 .email::placeholder{
    
    color: #999999 !important;
    
  }
.text a:hover{
   color: #dc3545;
}
.hover span:hover{
    color: #dc3545;
}
.button:hover{
    background-color: #dc3545 !important;
}
.card img:hover{
    filter: grayscale(0.5);
    
}
.nora li:hover{
    color: #dc3545;
}
.hamed:hover{
    color: #dc3545 !important;
}
.button1:hover{
    color: #dc3545 !important ;
} 
.button1:hover span{
  color: #dc3545 !important;
} 
.button-2 button:hover  {
  background-color:white !important;
  border: 2px solid black !important; 
       
}
.color-box {
      width: 20px;
      height: 20px;
      border-radius: 3px;
      display: inline-block;
      margin-right: 8px;
      border: 1px solid #ccc;
    }
    .color-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px 0;
    }
    .color-item:hover span {
  color: #dc3545; 
}
    .brand{
        height: 200px;
         overflow-y: scroll;  
    } 
     .filter-section {
      max-width: 300px;
    }
    .form-check-label {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .form-check-input:checked {
      background-color: black;
      border-color: black;
    }
    .price-red .form-check-input:hover + .form-check-label {
     color: #dc3545;
    }
    .btn-black {
      background-color: black;
      color: white;
      border-radius: 6px;
    }
    .btn-black:hover {
      background-color: #333;
      color: white;
    }
    .search-box {
      position: relative;
    }
    .search-box input {
      padding-right: 30px;
    }
    .search-box i {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #666;
    }
    .form-check-label {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .form-check-input:checked {
      background-color: black;
      border-color: black;
    }
     .form-check-label-1:hover span{
        color: #dc3545;
        
    }
    .nav {
    
     --bs-nav-link-padding-y: 0rem;
    }
    .card-text:hover{
      color: #dc3545;
    }
   .card-1:hover .heard{
    display: block !important;
    display: flex !important;
    flex-direction: column !important;
   }
   .card-1:hover{
     box-shadow: 0 4px 12px rgba(0,0,0,0.2);
     border-radius: 10px !important;
    
   }
   .card-1 img:hover{
    filter: grayscale(0);
   }
   .margin{
    margin-left: 400px !important;
    margin-bottom: 50px !important;
    margin-top: 50px !important;
   } 
   .owl-nav{
    position: absolute;
    top: 30%;
    width: 100%;
    transform: translateY(-50%);
   display: none;
    
   } 
     .owl-carousel:hover .owl-nav {
     display: flex;
    justify-content: space-between;
     }
     .owl-prev i:hover{
      background-color:black !important;
      color: white !important;
     }
      .owl-next i:hover{
      background-color: black !important;
      color: white !important;
     }
     .hight{
      height: 500px;
     }
     .width{
      width: 18rem;
     }
     .hot{
      background-color: orangered;
      padding: 5px 10px;
     }
  
.red{
  background-color: red;
   padding: 5px 10px;
}
.color{
  color: #999999;
}
.circle{
  width: 8px !important;
  height: 8px !important;
  border-radius: 50%;

}
.textWhite{
  top: 15%;
  right: 60%;
  left: 10%;
  text-align: start;
}
.hight1{
  height:250px ;
}
.button-4:hover{
background-color: inherit !important;
border: 2px solid white !important;
color: white !important;
overflow: hidden;
}

.color-red{ 
  top: 0%;
  left: 75%;
  background-color: #e53935; 
  color: white; 
  border-radius: 50%; 
  width: 70px; 
  height: 70px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  font-size: 30px; 
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
.black:hover i{
  color: black !important;
}
.circle-2{
  width: 150px !important;
  height: 150px !important;
  border-radius: 50%;
}
.overlay-1{
    width: 150px;
  height: 150px;
  background-color: #333333b6;
  border-radius: 50%;
  display: none;
}
.card-3:hover .overlay-1{
  display: block;
}
.card-3:hover h6{
  color: #dc3545 !important;
}
.margin-2{
margin-left: 20%;
}
 .overlay{
      position: fixed;
      top: 25%;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.7); 
      display: none;
      z-index: 9999 !important; 
    }
    .dropdown-menu {
      z-index: 10000 !important;
    }
    .dropdown-item:hover {
      background-color: #f5f5f5;
      color: #000;
    }
    .circle-3{
      width: 25px;
      height: 25px;
      font-weight: bold;
      border-radius: 50%;
      background-color: #000;
      color: white;
      font-size: 15px;
    }
    .width-1{
      width: 28%;
    }
    .width-2{
      width: 43%;
    }
    .brown{
      color: brown;
    }
    .margin-3{
      margin-left: 35%;
    }
    .img-container{
       overflow: hidden; 
    }
   .img-container img {
  transition: transform 0.5s ease;
   display: block;
}
.img-container img:hover {
  transform: scale(1.2);
  transition: 2ms;
}
.width-3{
  max-width: 540px;
  margin-bottom: 0 !important;
  border-radius: 0%;
  height: 200px;
}
.card-2:hover .heard-1{
    display: block !important;
    display: flex !important;
    flex-direction: row !important;
   }
   .card-2:hover{
     box-shadow: 0 4px 12px rgba(0,0,0,0.2);
     border-radius: 10px !important;
   }
   .card-2 img:hover{
    filter: grayscale(0);
   }
   .product-section {
    padding: 50px 0;
  }
  .product-image-container img {
    border-radius: 10px;
    width: 100%;
    height: 400px;
     object-fit: cover;        
  object-position: top;
  }
  .discount-badge {
    top: 70%;
    right: 35%; 
     padding: 15px 18px 20px 18px;
    width: 70px;
    height: 70px;
    font-size: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .product-details .list-unstyled i {
    color: #28a745;
    margin-right: 8px;
  }
  .old-price {
    text-decoration: line-through;
    color: #888;
    margin-left: 10px;
    font-size: 1rem;
  }
  .color-options .color-box.active {
    border-color: #000;

  }
  .color-options .color-box {
    width: 50px;
    height: 50px;
    border: 1px solid  rgb(164, 163, 163);
    border-radius: 5px ;
    margin-right: 10px;
    cursor: pointer;
  }
  .color-options .color-box  img{
    width: 50px;
    height: 50px;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
  }
  .product-details  button:hover{
    background-color: inherit !important;
    border: 3px solid black !important;
    color: black !important;

  }
  .button-7:hover{
    background: inherit;
    color: #e53935;
    border-color: #e53935;
  }
  .search-form-container {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-input {
    flex-grow: 1;
    border-radius: 8px 0 0 8px; 
    height: 50px;
    border: 1px solid #ced4da;
    border-right: none;
    font-size: 1rem;
    padding-left: 15px;
  }
  
  .search-button {
    height: 50px;
    width: 60px;
    border-radius: 0 8px 8px 0;
    border: 1px solid #000;
  }
  .overflow-hidden{
    overflow: hidden;
     border-radius: 20px !important;
  }
  .overflow-hidden img:hover{
    transform: scale(1.15) !important;
    transform: rotate(80deg);
   transition: 2ms;
    filter: grayscale(0);
  }
  .scure-black{
    width: 30px;
    height: 30px;
    
  }
  .thumbs img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      cursor: pointer;
  }
  .main-img {
    max-width: 100%;
      border-radius: 7px;
      cursor: pointer;
      border: 1px solid rgb(194, 191, 191);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.444);
    }
    .background-green{
      background-color: #d3efdb;
      border-radius: 5px;
    }
    .button-5:hover{
      background-color: inherit;
      color: green;
      border: 1px solid green;
    }
    .c-black:hover{
      color: #000 !important;
    }
.box-shadow{
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.4));
}
.color-{
  color: #28a745;
}